/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

#wk-load-conf {
    display: none;
}

#wantptr .unavailable,
#wantptr .available,
#wk-mp-become-seller-box-wrapper .unavailable,
#wk-mp-become-seller-box-wrapper .available {
    background-color: rgba(0, 0, 0, 0);
    background-position: 10px 0;
    border: medium none;
    float: left;
    min-height: 11px;
    padding: 0 3px 0 30px;
    background: none!important;
}
#wantptr .available.message.success:before,
#wk-mp-become-seller-box-wrapper .available.message.success:before {
    content: "\2714";
    padding: 0 5px;
}
#wantptr .message.success,
#wk-mp-become-seller-box-wrapper .message.success {
    padding: 0!important;
}

#wantptr .message.error:before,
#wk-mp-become-seller-box-wrapper .message.error:before {
    content: "\2715";
    padding: 0 5px;
}
#wantptr .message.error,
#wk-mp-become-seller-box-wrapper .message.error {
    padding: 0!important;
}
#wantptr label.label {
    display: inline-block;
}
#wantptr .questimg {
    display: inline-block;
}
.wk-mp-main{
    margin-bottom: 0;
}

/*commom classes start*/
.wk-mp-design {
    width: 100%;
}
.wk-mp-design .block-account .block-title {
    background-image: none;
}
.wk-mp-design .block{
    margin: 0;
}
.wk-mp-design .product-image img{
    width: 100%;
}
.btn-primary {
    background-color: #0C79D8;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 4px 4px;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #FFFFFF!important;
    display: inline-block;
    opacity: 0.8;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: middle;
    text-transform: uppercase;
    padding: 6px 0px;
    font-weight: bold;
    font-size: 13px;
    width: 100%;
}
.wk-profile-links{
    display: inline-block;
    padding: 10px 0;
    width: 30%;
}
.wk-profile-links a:hover{
    text-decoration: none;
}
.wk-mp-fieldset {
    margin: 0;
    border-top: none;
    min-width: 100%;
    width: 250px;
    display: inline-block;
    overflow: auto;
}
.account .column.main{
    width: 100%;
}
.wk-mp-design .form-list .control {width: 100%;box-sizing: border-box;}
.wk-mp-design .form-list .field { width:100%; box-sizing: border-box;}
.wk-mp-design .form-list input.input-text { width:99%; box-sizing: border-box;}
.wk-mp-design .form-list textarea { width:99%;max-width: 99%;box-sizing: border-box;}
.wk-mp-design .form-list select { width:100%; box-sizing: border-box;}
.wk-mp-design .form-list li.wide .control { width:100%; box-sizing: border-box;}
.wk-mp-design .form-list li.wide input.input-text { width:99%; box-sizing: border-box;}
.wk-mp-design .form-list li.wide textarea { width:100%; box-sizing: border-box;}
.wk-mp-design .form-list li.wide select { width:100%; box-sizing: border-box;}
.wk-mp-design .form-list .input-range input.input-text { width:99%; box-sizing: border-box;}
.wk-mp-design .form-list-narrow li.wide .control { width:100%; box-sizing: border-box;}
.wk-mp-design .form-list-narrow li.wide input.input-text,
.wk-mp-design .form-list-narrow li.wide textarea { width:99%; box-sizing: border-box;}
.wk-mp-design .form-list-narrow li.wide select { width:100%; box-sizing: border-box;}

#wantptr{display:none;}
.profileurl{
display: inline-block;
width: 100%;
box-sizing: border-box;
}
/*commom classes end*/
#skuavail, #skunotavail {
    display: none;
    float:left;
    width: 100%;
}
.skuavailable{
    background-color: rgba(0, 0, 0, 0);
    background-position: 10px 0 ;
    border: medium none ;
    float: left;
    min-height: 11px ;
    padding: 0 3px 0 30px ;
    text-transform: capitalize;
    background-size: contain;
}
.skunotavailable{
    background-color: rgba(0, 0, 0, 0);
    background-position: 10px 0 ;
    border: medium none ;
    float: left;
    min-height: 11px ;
    padding: 0 3px 0 30px ;
    text-transform: capitalize;
    background-size: contain;
}
/*landing page css start*/
.wk-mp-landingpage{
    text-align: center;
}
.wk-mp-banner {
background-size: 100% 100%;
}
.wk-mp-banner-container{
    width: 97.5%;
    box-sizing: border-box;
    border: 1px solid #eee;
    padding: 1%;
}
.wk-mp-banner img{
    width: 100%;
    display: inherit
}
.wk-marketplace-label{
    font-weight: 600;
    letter-spacing: 1px;
    padding-top: 3.3%;
}
.wk-marketplace-label-span{
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.3em;
    width: 100%;
}
.wk-marketplace-label-about{
    font-weight: 600;
    letter-spacing: 1px;
}
.wk-mp-icon {
    display: inline-block;
    width: 68%;
}
.wk-mp-icon img{
    display: inline-block;
    width: 100%;
}
.wk-mp-icon-wraper{
    display: inline-block;
    width: 22%;
}

.wk-mp-landing-sellers-wraper{
    width: 284px;
    display: inline-block;
    border: 1px solid #eee;
    margin-right: 10px;
    margin-bottom: 10px;
}
.wk-last-seller{
    margin-right: 0;
}
.wk-mp-landing-sellers{
    padding: 10px;
}
.wk-mp-landing-sellers-img1{
    width: 100%;
}
.wk-mp-landing-sellers-img1 img{
    width: 130px;
    display: inline-block;
    border: 1px solid #eee;
    float: left;
}
.wk-mp-landing-sellers-img2{
    width: 260px;
    border: 1px solid #eee;
    margin-bottom: 10px;
    display: inline-block;
}
.wk-mp-landing-sellers-img2 img{
    width: 100%;
}
.wk-mp-landing-sellers-logo{
    width: 30%;
    float: left;
    display: inline-block;
    border: 1px solid #eee;
    height: 75px;
    position: relative;
}
.wk-mp-landing-sellers-logo img{
    width: 100%;
}
.wk-mp-landing-sellers-details{
    width: 64%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    text-transform: uppercase;
}
.wk-mp-landing-button{
    font-size: 18px;
    padding: 15px 20px;
}
.wk-mp-label3-container{
    margin-top:10px;width:100%;
}
.wk-mp-label3{
    border: 1px solid #eee;
    padding: 10px;
}
.wk-mp-header {
    color: #FFFFFF;
    padding: 6.5%;
    text-align: center;
}
.wk-mp-header h1 {
    font-size: 3.9em;
    color: #FFFFFF;
    margin-bottom: 0.3em;
    font-weight: bold;
    word-wrap: break-word;
}
.wk-mp-header h2 {
    font-size: 32px;
    color: #FFFFFF;
    text-transform: inherit;
}
.wk-mp-header p {
    margin-bottom: 0;
}
/*end*/

/*product page seller block start*/
.wk-blockdetail {background: none repeat scroll 0 0 #F4F3F3;height: auto;padding: 4px;}
.wk-blockdetail ul.partnerlinks li a{text-decoration:none;}
.wk-blockdetail ul.partnerlinks li a:hover{text-decoration: underline;color: #333;}
.wk-blockdetail ul.partnerlinks li {padding:2px 0px;font-size:12px;}
.wk-blockdetail #twconnect, #fbconnect{display: inline-block;height: 35px;width: 35px;}
.wk-blockdetail #twconnect:hover, #fbconnect:hover{box-shadow: -3px -2px 6px #333333;}
.wk-blockdetail #twconnect{background-image:url('../images/tw.png');}
.wk-blockdetail #fbconnect{background-image:url('../images/fb.png');}
.wk-block-hover-div{
    background: none repeat scroll 0 0 #FFFFFF;
    display: none;
    right: -27%;
    min-height: 120px;
    position: absolute;
    top: -35px;
    width: 420px;
    z-index: 999;
    border: 1px solid #BCE8F1;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 20px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.wk-block-hover-div img{
    width: 100%;
}
@media only screen and (max-width: 1085px) {
    .wk-block-hover-div{
        right: -11px;
        width: 275px;
    }
}
@media only screen and (min-width: 1085px) and (max-width: 1191px) {
    .wk-block-hover-div{
        right: -61px;
        width: 275px;
    }
}
@media only screen and (min-width: 770px) and (max-width: 984px) {
    .profile-view {
    width: 325px;
    }
}
.wk-block-hover-div .arrow{height: 23px;position: absolute;right: -17px;top: 31px;width: 50px;}
.wk-block-hover-div:after, .wk-block-hover-div:before {
    border: 1px solid transparent;
    content: " ";
    height: 0;
    right: 100%;
    position: absolute;
    width: 0;
}
.wk-block-hover-div:after {border-right-color: #FFFFFF;border-width: 7px;top: 36px;}
.wk-block-hover-div:before {border-right-color: #BCE8F1;border-width: 10px;top: 34px;}
.profile-view{
    position: relative;
    width: 436px;
}
/*wk-block new css start*/
.ask-que , #askque{
    display: inline-block;
    cursor: pointer;
}
.wk-block-font-bold-up{
    text-transform: uppercase;
    font-weight: bold;
}
.wk-block-title-css{
    font-weight: normal;
    margin: 0 5px 0 0;
}
.wk-block-title-css a {
    text-decoration: underline;
}
.wk-block-rating{
    display: inline-block;
    text-align: center;
    background: #11b400;
    color: #fff;
    letter-spacing: 1px;
    min-width: 16px;
    padding: 2px 6px;
    border-radius: 4px;
}
.product-options-bottom{
    padding: 9px;
}
.extra-info{
    max-width: 100%;
    width: 100%;
}
.add-to-cart, .out-of-stock{
    float: left;
}
.wk-seller-block{
    border-left: 1px solid #ccc;
    display: inline-block;
    width: 30%;
    position: relative;
    padding-left: 10px;
    margin-left: 8px;
}
.wk-seller-block:after, .wk-seller-block:before {
    border: 1px solid transparent;
    content: " ";
    height: 0;
    left: -1px;
    position: absolute;
    width: 0;
    margin-top: -11px;
}
.wk-seller-block:after {
    border-left-color: #FFFFFF;border-width: 7px;top: 36px;
}
.wk-seller-block:before {
    border-left-color: #CCCCCC;border-width: 9px;top: 34px;
}
@media only screen and (min-width: 1180px){
    .wk-seller-block{
        width: 44%;
    }
}

.wk-seller-rating{
    padding: 15px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background: #fffeeb;
    box-shadow: 0 2px 8px 2px #848484;
    font-size: 11px;
    position: absolute;
    text-align: left;
    max-width: 350px;
    z-index: 5;
    display: none;
    top: 83%;
    margin-left: -20%;
    width: 120%;
}
.wk-seller-rating:after, .wk-seller-rating:before {
    border: 1px solid transparent;
    content: " ";
    height: 0;
    bottom: -1px;
    position: absolute;
    width: 0;
    margin-top: -51px;
    margin-left: 22%;
}
.wk-seller-rating:after {
    border-bottom-color: #FFFFFF;border-width: 7px;
    top: 38px;
    margin-right: 22px;
}
.wk-seller-rating:before {
    border-bottom-color: #CCCCCC;border-width: 9px;
    border-width: 7px;
    top: 37px;
}
/*end*/

/*seller list page start*/
.wk-srach-wrapper{
    width:100%;
    display:inline-block;
}
.wk-search input {
    width: 100%;
    height: 40px;
    padding-right: 40px;
    font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
}
.wk-search .control {
    position: relative;
}
.wk-search .button {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
}
.wk-search .span{
    padding: 9px 8px;
}
.wk-search button.button span span {
    height: 20px;
    line-height: 20px;
}
.wk-mp-sellerlist-container li{
    padding-left: 0;
    padding-bottom: 1%;
    list-style: none;
}
.wk-mp-sellerlist-container .wk-mp-sellerlist-wrap {
    border: 1px solid #eee;
    display: inline-block;
    padding: 5px;
}
.wk-sellerlist-divide1 {
    display: inline-block;
    width: 40%;
    float: left;
    overflow: hidden;
}
.wk-sellerlist-divide1 img {
    width: 85%;
    float: left;
    border: 1px solid #eee;
}
.wk-sellerlist-divide2 {
    text-align: left;
    text-transform: uppercase;
    width: 60%;
    float: left;
}
@media only screen and (min-width: 480px) and (max-width: 480px) {
    .wk-mp-sellerlist-container .wk-mp-sellerlist-wrap {
        width: 100%;
    }
    .wk-mp-sellerlist-container li{
        padding-right: 0;
        float: none;
    }
    .wk-sellerlist-divide1 {
        height: auto;
    }
}
@media only screen and (min-width: 481px) and (max-width: 651px) {
    .wk-mp-sellerlist-container .wk-mp-sellerlist-wrap {
        width: 100%;
    }
    .wk-mp-sellerlist-container li{
        padding-right: 15px;
        float: left;
        width: 50%;
    }
    .wk-sellerlist-divide1 {
        height: auto;
    }
    .wk-mp-header h1 {
        font-size: 2.9em;
    }
}
@media only screen and (min-width: 652px) and (max-width: 1079px) {
    .wk-mp-sellerlist-container .wk-mp-sellerlist-wrap {
        width: 100%;
    }
    .wk-mp-sellerlist-container li{
        padding-right: 15px;
        float: left;
        width: 30%;
    }
    .wk-sellerlist-divide1 {
        height: 95px;
    }
}
@media only screen and (min-width: 1080px){
    .wk-mp-sellerlist-container li{
        margin-right: 1%;
        float: left;
        width: 24%;
    }
    .wk-sellerlist-divide1 {
        height: 95px;
    }
}
/*end*/
/*seller prfile page left css start*/
.wk-logo-block{
    padding-bottom: 10px;
}
.bannerpicrs {
    border-bottom: 5px solid #fc9d36;
    height: 100%;
    width: 99%;
}
.wk-mp-design-inner{
    border: 1px solid #eee;
    padding: 10px;
    padding-bottom:0;
}
.wk-mp-design-inner-last{
    margin-bottom:10px;
    padding-bottom: 10px;
}
.wk-mp-display-block-css{
    display: inline-block;
    width: 100%;
}
.storename {
    font: bold 1em Helvetica Neue,Arial,Sans Serif;
    text-transform:uppercase;
}
.store-name{
    padding: 5px 0;
}
.wk-seller a {
    display: inline-block;
}
#info .section {
    padding: 0px 5px 5px 5px;
    border-bottom: 1px solid #eee;
    font-weight: bold;
}
.wk-icon{
    background-image: url("../images/Seller-Sprite.png");
    background-repeat: no-repeat;
    background-color: transparent;
    height: 18px;
    width: 17px;
    float: left;
    margin-top: 3px;
}
.wk-storeloc-icon{
    background-position: -105px -96px;
    height: 17px;
}
a.cont-name {
    display: inline-block;
    padding-right: 5px;
    font-size: 15px;
    color: inherit;
    font-weight: normal;
}
.piccountry {
    width: 24px;
    display: inline-block;
}
.wk-contact-input-fields {
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 1px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.wk-mp-design-inner small {
    font-size: smaller;
}

.wk-mp-design-inner .wk-ordertitle-label{
    width: 29%;
    font-weight: bold;
}

/*seller prfile page left css end*/

/*start modal box*/
.ask-que{cursor:pointer;}
#ask-data .errormail {
    bottom: 15px;
    display: none;
    left: 155px;
    position: absolute;
    color: #DF280A;
    font-weight: bold;
}
.wk-clear{clear: both;}

.wk-dash-chart{
    margin-top: 10px;
    border:1px solid #CCCCCC;
}

.modal-title {
margin: 0;
line-height: 1.42857143;
font-size: 18px;
font-family: inherit;
font-weight: 500;
display: inline-block;
}
#ask-data {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    display: none;
    left: 50%;
    margin: -250px 0 0 -280px;
    outline: medium none;
    position: fixed;
    top: 88%;
    width: 510px;
    z-index: 1050;
    padding: 10px;
}
#ask-form {
    display: inline-block;
    width: 98%;
}
#ask-form textarea { height: 75px;width: 315px; }
#ask-data .label {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 7px;
    padding-left: 20px;
    text-align: left;
    width: 135px;
    vertical-align: top;
}
.wk-modal-btn{
  cursor: pointer;
}
.wk-btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}
.wk-btn-primary:hover,
.wk-btn-primary:focus,
.wk-btn-primary.focus,
.wk-btn-primary:active,
.wk-btn-primary.active,
.open > .dropdown-toggle.wk-btn-primary {
  color: #fff;
  background-color: #3071a9;
  border-color: #285e8e;
}
.wk-btn-primary:active,
.wk-btn-primary.active,
.open > .dropdown-toggle.wk-btn-primary {
  background-image: none;
}
.wk-btn-primary.disabled,
.wk-btn-primary[disabled],
fieldset[disabled] .wk-btn-primary,
.wk-btn-primary.disabled:hover,
.wk-btn-primary[disabled]:hover,
fieldset[disabled] .wk-btn-primary:hover,
.wk-btn-primary.disabled:focus,
.wk-btn-primary[disabled]:focus,
fieldset[disabled] .wk-btn-primary:focus,
.wk-btn-primary.disabled.focus,
.wk-btn-primary[disabled].focus,
fieldset[disabled] .wk-btn-primary.focus,
.wk-btn-primary.disabled:active,
.wk-btn-primary[disabled]:active,
fieldset[disabled] .wk-btn-primary:active,
.wk-btn-primary.disabled.active,
.wk-btn-primary[disabled].active,
fieldset[disabled] .wk-btn-primary.active {
  background-color: #428bca;
  border-color: #357ebd;
}

.wk-btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.wk-btn-default:hover,
.wk-btn-default:focus,
.wk-btn-default.focus,
.wk-btn-default:active,
.wk-btn-default.active,
.open > .dropdown-toggle.wk-btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.wk-btn-default:active,
.wk-btn-default.active,
.open > .dropdown-toggle.wk-btn-default {
  background-image: none;
}
.wk-btn-default.disabled,
.wk-btn-default[disabled],
fieldset[disabled] .wk-btn-default,
.wk-btn-default.disabled:hover,
.wk-btn-default[disabled]:hover,
fieldset[disabled] .wk-btn-default:hover,
.wk-btn-default.disabled:focus,
.wk-btn-default[disabled]:focus,
fieldset[disabled] .wk-btn-default:focus,
.wk-btn-default.disabled.focus,
.wk-btn-default[disabled].focus,
fieldset[disabled] .wk-btn-default.focus,
.wk-btn-default.disabled:active,
.wk-btn-default[disabled]:active,
fieldset[disabled] .wk-btn-default:active,
.wk-btn-default.disabled.active,
.wk-btn-default[disabled].active,
fieldset[disabled] .wk-btn-default.active {
  background-color: #fff;
  border-color: #ccc;
}
.wk-btn-default .badge {
  color: #fff;
  background-color: #333;
}
.wk-btn {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
}
.form-control {
width: 315px;
padding: 6px 12px;
margin-bottom: 10px;
font-size: 14px;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.modal-body {
    position: relative;
    padding: 15px;
    width: 90%;
}
.form-control:focus{
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.wk-btn-primary .badge {
  color: #428bca;
  background-color: #fff;
}
.modal-header {
  border-bottom: 1px solid #EEEEEE;
  border-radius: 4px 4px 0 0;
  padding: 9px 15px;
  text-align: left;
}
.modal-header h3 { display: inline-block;font-size: 20px;opacity: 0.6; }
.wk-close {
    color: #000000;
    cursor: pointer;
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    opacity: 0.2;
    text-shadow: 0 1px 0 #FFFFFF;
}
.wk-close:hover,
.wk-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-footer:before, .modal-footer:after { content: "";display: table;line-height: 0; }
.modal-footer:before, .modal-footer:after { content: "";display: table;line-height: 0; }
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.error-border { border-color: #FF0000 ; }
.mail-procss { cursor: wait;opacity: 0.5; }
/*end*/

/*profile page right bar css start*/
.wk-feedback-details .mpfeedback{
    width:100%;
    border-right: 1px solid #ccc;
}
.mpfeedback .wk-span{
    width: 40%;
}
.mpfeedback span {
    float: left;
}
.mpfeedback .ratingslider-box {
    background: url("../images/rating-sprite.png") repeat-x scroll 0 103% transparent;
    float: left;
    margin-left: 3%;
    height: 16px;
    width: 70px;
}
.mpfeedback .ratingslider-box .rating {
    background: url("../images/rating-sprite.png") repeat-x scroll 0 0 transparent;
    height: 16px;
}
.mpfeedback .price{
    width:100%;
    display: inline-block;
}
.mpfeedback .value{
    width:100%;
    display: inline-block;
}
.mpfeedback .quality{
    width:100%;
    display: inline-block;
}
/*profile page right bar css end*/

/*Profile page content css start*/

.wk-social-icon{
    width: 44px;
    height: 44px;
}
.wk-social-icon-instagram{ background-position: 0px 0px; }
.wk-social-icon-pinterest{ background-position: -46px 0px; }
.wk-social-icon-fb{ background-position: -92px 0px; }
.wk-social-icon-tw{ background-position: -138px 0px; }
.wk-social-icon-gplus{ background-position: 0px -46px; }
.wk-social-icon-vimeo{ background-position: -46px -46px }
.wk-social-icon-utube{ background-position: -92px -46px; }
.wk-social-icon-moleskin{ background-position: -138px -46px; }
.wk-profile-pro-css {
    width: 32.33333%;
    margin-right: 1%;
    float: left;
    text-align: center;
}
.wk-profile-image-box{
    border: 1px solid #eee;
    padding: 5px;
}
/*Profile page content css end*/

/*feedback page css start*/
.wk-orderbox-content1{
    display: inline-block;
    width: 98%;
    border-bottom: 1px solid #eee;
}
.wk-orderbox-content2{
    display: inline-block;
    width: 98%;
}
.wk-first-order{
    margin-top: 15px;
}
.wk-orderbox{
    border: 1px solid #ccc;
    display: inline-block;
    width: 99%;
    margin: 5px 0;
    border-radius: 3px;
}
.wk-orderbox-content1{
    display: inline-block;
    width: 98%;
    border-bottom: 1px solid #ccc;
}
.wk-orderbox-content2{
    display: inline-block;
    width: 98%;
}
.wk-orderbox-details{
    width: 78%;
    float: left;
}
.wk-orderbox-details a {
    color: #1e7ec8;
    text-decoration: none;
}
.wk-orderbox-total {
    width: 22%;
    float: left;
    text-align: right;
}
.wk-feedback-details{
float: left;
width: 26%;
padding-bottom: 5px;
}
.wk-feedback-desc{
float: left;
width: 71%;
padding:5px 0px 5px 15px
}
/*end*/

/*collection page content css start*/
.collection-banner > img {
   width: 100%;
}
/*end*/
@media only screen and (min-width: 0px) and (max-width: 640px) {
    #ask-data{
        width: 330px;
        left: 75%;
    }
    #ask-data .label {
        width: 36%;
    }
    .wk-profile-links {
        width: 48%;
    }
}
/*end*/
@media only screen and (max-width: 200px) {
    .modal-body{
        padding: 10px;
    }
    .wk-profile-links a {
        font-size: 0.8rem;
    }
}
.marketplace-index-index .column.main {
    width: 100%;
}

@font-face{
    font-family: 'font-awesome';
    src: url('../fonts/FontAwesome/fontawesome-webfont.eot');
    src: url('../fonts/FontAwesome/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FontAwesome/fontawesome-webfont.woff2') format('woff2'),
         url('../fonts/FontAwesome/fontawesome-webfont.woff') format('woff'),
         url('../fonts/FontAwesome/fontawesome-webfont.ttf') format('truetype'),
         url('../fonts/FontAwesome/fontawesome-webfont.svg#icons-blank-theme') format('svg');
    font-weight: normal;
    font-style: normal
}

.wk-seller-card-container * {
    box-sizing: border-box;
}

.wk-ask-question-link #askque::before {
    position: absolute;
    left: 0;
    top: -3px;
    content: "\f0e0";
    font-family: "font-awesome";
    font-size: 1.7rem;
}

.wk-seller-card-row {
    display: inline-block;
    width: 100%;
    padding: 2px 0px;
}
.wk-ask-question-link {
    display: inline-block;
    position: relative;
    padding-left: 22px;
}
.wk-seller-block::before, .wk-seller-block::after {
    display: none;
}
.wk-seller-block.wk-block {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    order: -2;
}
.wk-seller-rating-number::before {
    position: absolute;
    left: 8px;
    top: 2px;
    content: "\f005";
    font-family: "font-awesome";
    font-size: 1.4rem;
    color: #fff;
}

.wk-seller-rating-number {
    display: inline-block;
    background: #11b400;
    color: #fff;
    font-weight: bold;
    padding: 2px 10px;
    border-radius: 2px;
    position: relative;
}
.wk-seller-rating-number {
    padding-left: 27px;
    padding-right: 10px;
}
.wk-seller-rating-block {
    display: inline-block;
    position: relative;
}
.wk-seller-card-col {
    display: inline-block;
    margin-right: 25px;
}
.wk-seller-rating.wk-mp-design-inner {
    width: 225px;
    top: 30px;
    left: -35px;
}


.wk-seller-product-count::before {
    position: absolute;
    left: 0;
    top: -4px;
    content: "\f1b2";
    font-family: "font-awesome";
    font-size: 2rem;
}

body .wk-seller-product-count {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    font-weight: bold;
    color: #777;
    text-transform: uppercase;
}
.wk-seller-card-col {
    margin-top: 5px;
    margin-bottom: 5px;
}

body .wk-seller-location-link {
    display: inline-block;
    position: relative;
    padding-left: 15px;
    font-weight: 600;
    color: #555;
    margin: 2px 0;
}
.wk-seller-location-link::before {
    position: absolute;
    left: 0;
    top: -3px;
    content: "\f041";
    font-family: "font-awesome";
    font-size: 2rem;
    color:#363636;
}
.wk-block-title-css a {
    text-decoration: none;
    font-weight: 600;
}
.wk-block-font-bold-up{
    text-transform: unset;
}
.wk-seller-card-container {
    display: inline-block;
    width: 100%;
}

.wk-seller-card-product-block {
    display: inline-block;
    width: 600px;
    font-size: 1.4rem;
}
.wk-seller-card-details-block {
    display: inline-block;
    width: calc(100% - 600px);
    font-size: 0;
}
.wk-seller-card-details-content-block {
    display: inline-block;
    width: calc(100% - 130px);
    font-size: 1.4rem;
    vertical-align: middle;
    padding-left: 15px;
}
.wk-seller-card-details-img-block {
    display: inline-block;
    width: 130px;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    position: relative;
    font-size: 0px;
    overflow: hidden;
    vertical-align: middle;
}

.wk-seller-card-details-block .wk-seller-rating-block {
    display: inline-block;
    vertical-align: middle;
}
.wk-seller-card-details-block .wk-seller-shop-title {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.wk-seller-card-details-block .wk-seller-shop-title a {
    color: #363636;
    font-size: 25px;
}
.wk-seller-card-details-block .wk-ask-question-link {
    padding-left: 0px;
}
.wk-seller-card-details-block .wk-ask-question-link #askque::before {
    display: none;
}
.wk-seller-card-details-block .wk-ask-question-link #askque {
    display: inline-block;
    background: #1979c3;
    color: #fff;
    padding: 3px 15px;
    border-radius: 2px;
    font-weight: 600;
    text-align: center;
}

.wk-seller-card-details-block .wk-ask-question-link #askque:hover {
    background: #006bb4;
    text-decoration: none;
}

body .wk-seller-card-details-block  .wk-seller-location-link {
    margin-bottom: 5px;
}
.wk-seller-card-container.wk-card-type2 {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    font-size: 0px;
}

.wk-seller-card-product {
    display: inline-block;
    width: 90px;
    height: 90px;
    margin: 5px;
    padding: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    font-size: 0;
    position: relative;
    vertical-align: top;
}
.wk-seller-card-product-block {
    vertical-align: bottom;
}
.wk-seller-card-product-container {
    display: inline-block;
    float: right;
    font-size: 0px;
    text-align: center;
}
.wk-seller-card-product a {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    border: 1px solid #ccc;
}
.wk-seller-card-product img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-width: 100%;
    max-height: 100%;
}
.wk-seller-card-product span {
    font-size: 1.4rem;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


.wk-seller-rating-number {
    padding-left: 25px;
    padding-right: 17px;
}
.wk-seller-rating-number::before {
    position: absolute;
    left: 8px;
    top: 4px;
    content: "\f005";
    font-family: "font-awesome";
    font-size: 1.3rem;
    color: #fff;
}
.wk-seller-rating-number::after {
    position: absolute;
    right: 5px;
    top: 4px;
    content: "\f0d7";
    font-family: "font-awesome";
    font-size: 1.2rem;
    color: #fff;
}
.wk-seller-rating::after, .wk-seller-rating::before {
    margin-left: 30%;
}
.wk-seller-card-details-img-block a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
@media only screen and (max-width: 960px) {
    .wk-seller-card-details-block {
        vertical-align: middle;
        width: calc(100% - 300px);
    }
    .wk-seller-card-product-block {
        vertical-align: middle;
        width: 300px;
    }
}
@media only screen and (max-width: 767px) {
    .wk-seller-card-container.wk-card-type1 {
        margin: 15px 0;
    }
    .wk-seller-card-container.wk-card-type1 .wk-seller-rating.wk-mp-design-inner {
        left: 12px;
    }
    .wk-seller-card-container.wk-card-type1 .wk-seller-rating::after,
    .wk-seller-card-container.wk-card-type1 .wk-seller-rating::before {
        margin-left: 7%;
    }
}

@media only screen and (max-width: 640px) {
    .wk-seller-card-details-block {
        width: 100%;
        margin-bottom: 20px;
    }
    .wk-seller-card-product-block {
        width: 100%;
    }
    .wk-seller-card-details-block .wk-seller-shop-title {
        width: 100%;
        margin: 0;
        margin-bottom: 5px;
    }
    .wk-seller-rating::after, .wk-seller-rating::before {
        margin-left: 50%;
    }
    .wk-seller-rating.wk-mp-design-inner {
        left: -85px;
    }
}

.wk-mp-fieldset .order-products-toolbar.toolbar.bottom {
    margin-top: 10px;
}
body .wk-mp-design .toolbar .pages {
    display: inline-block;
    position: relative;
    width: auto;
}

.wk-mp-design .toolbar .limiter {
    float: right;
}
.page-products.page-with-filter.fieldset.wk-mp-fieldset {
    overflow: unset;
}
.wk-seller-feedback-title {
    padding: 5px 0;
}

#ask-form textarea.wk-full-width {
    width: 100%;
}
.wk-full-width {
    width: 100%;
}
@media only screen and (max-width: 767px) {
    .wk-mp-design .toolbar .limiter {
        width: 100%;
    }
}
.wk-profile-alert strong {
    margin-right: 5px;
}
.page-layout-seller-2columns-left .wk-profile-links-container * {
    box-sizing: border-box;
}
.wk-profile-links-container * {
    box-sizing: border-box;
}
.wk-profile-links-container .btn-primary {

}
.field.profile.wk-profile-links-container {
    font-size: 0;
}
.wk-profile-links-container .wk-profile-links {
    width: 400px;
    max-width: 50%;
    text-align: center;
}
.wk-profile-links-container .btn-primary {
    padding: 7px;
    border-radius: 2px;
}
.wk-profile-links-container .wk-profile-links:nth-child(2n+1) {
    padding-right: 5px;
}
.wk-profile-links-container .wk-profile-links:nth-child(2n) {
    padding-left: 5px;
}
@media only screen and (max-width: 480px) {
    .wk-profile-links-container .wk-profile-links:nth-child(n) {
        width:100%;
        max-width: unset;
        padding: 10px 0;
    }
}
