<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<form class="form form-login"
    action="<?php echo $block->escapeUrl($block->getPostActionUrl()) ?>"
    method="post"
    id="login-form"
    data-mage-init='{"validation":{}}'>
    <?php echo $block->getBlockHtml('formkey') ?>
    <fieldset class="fieldset login" data-hasrequired="<?php echo $block->escapeHtml(__('* Required Fields')) ?>">
        <div class="field note"><?php echo $block->escapeHtml(__('If you have an account, sign in with your email address.')) ?></div>
        <div class="field email required">
            <label class="label" for="email"><span><?php echo $block->escapeHtml(__('Email')) ?></span></label>
            <div class="control">
                <input name="login[username]" value="<?php echo $block->escapeHtml($block->getUsername()) ?>" <?php if ($block->isAutocompleteDisabled()): ?> autocomplete="off"<?php endif; ?> id="email" type="email" class="input-text" title="<?php echo $block->escapeHtml(__('Email')) ?>" data-validate="{required:true, 'validate-email':true}">
            </div>
        </div>
        <div class="field password required">
            <label for="pass" class="label"><span><?php echo $block->escapeHtml(__('Password')) ?></span></label>
            <div class="control">
                <input name="login[password]" type="password" <?php if ($block->isAutocompleteDisabled()): ?> autocomplete="off"<?php endif; ?> class="input-text" id="pass" title="<?php echo $block->escapeHtml(__('Password')) ?>" data-validate="{required:true}">
            </div>
        </div>
        <?php echo $block->getChildHtml('form_additional_info') ?>
        <div class="form-actions">
            <div class="actions">
                <button type="submit" class="action-login action-primary">
                    <span><?php echo /* @escapeNotVerified */ __('Sign in') ?></span>
                </button>
                <?php echo $block->getChildHtml('form.additional.buttons') ?>
            </div>
            <div class="secondary">
                <a class="action remind" href="<?php echo $block->escapeUrl($block->getForgotPasswordUrl()) ?>">
                    <span><?php echo $block->escapeHtml(__('Forgot Your Password?')) ?></span>
                </a>
            </div>
            <div class="secondary">
                <a class="action remind" href="<?php echo $block->getUrl('customer/account/create', ["_secure" => $this->getRequest()->isSecure()]) ?>" target="blank">
                    <span><?php echo $block->escapeHtml(__("Don't have account? Click here to register")) ?></span>
                </a>
            </div>
        </div>
    </fieldset>
    <input type="hidden" name="vendor_login" value="1"/>
</form>
